# Práctica 1

## Descripción

**Problema**: Crear un modelo de clasificación que prediga si va a llover o no mañana.

**Data set**: 145.000 observaciones diarias con 24 atributos. Usaremos 23 de ellas para predecir si llueve o no.

**Lógica**: Construir un modelo de clasificación que prediga si va a llover o no.

## Código

### III. Pre-procesado

### I. Cargar librerías

1) Cargar librerías *numpy* y *pandas*.

In [14]:
import numpy as np
import pandas as pds

### II. Cargar datos

2) Cargar el data set weather.csv usando el método *read_csv* de pandas.

In [15]:
weatherPath = './weatherAUS.csv'
pds.read_csv(weatherPath)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

4) Mostrar las 5 primeras líneas del data set usando cualquier método.

3) Mostrar el tamaño del data set usando el método *shape* de pandas.

In [16]:
data = pds.read_csv(weatherPath)
data.shape

(142193, 24)

In [17]:
data_fra

TypeError: 'DataFrame' object is not callable

5) En todos los data sets puede haber atributos sesgados, incorrectos, imprecisos etc. Una forma de comprobar qué atributos son es contar los valores y compararlos con el tamaño obtenido en 3). Para ello utilizaremos el método *count* y el método *sort_values* de pandas.

6) Es necesario borrar todas las variables que no sean significativas. De acuerdo con el punto anterior, borraremos las siguientes: 'Sunshine','Evaporation','Cloud3pm','Cloud9am','Location','RISK_MM','Date'. Risk_MM denota la cantidad de lluvia prevista al día siguiente y puede dañar nuestro modelo.

Para borrar columnas el método *drop* de pandas. Mostraremos a continuación el estado del data set por medio del método *shape*.

7) Ahora eliminaremos los datos nulos utilizando para ello el método *dropna* con el parámetro *how='any'* [info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
  Después, mostraremos el estado del data set por medio del método *shape*.

8) Es interesante comprobar si nuestros datos tienen outliers (valores atípicos), esto es datos que difieren significativamente de otros. Los outliers son consecuencia de calculos erróneos cuando se recopilan los datos.

Para esto vamos a emplear el módulo *stats* de la librería SciPy (herramientas y algoritmos matemáticos)

    from scipy import stats
    
A continuación obtenemos el valor absoluto de la desviación típica de todos los datos.

    z = np.abs(stats.zscore(df._get_numeric_data()))

Un valor de z-score mayor que 3 nos dice que el valor es mucho mayor que el promedio, un valor igual a 0 que está en el promedio.

[Standard Normal Distribution](http://www.ltcconline.net/greenl/courses/201/probdist/ctsdis8.jpg)


Nos quedaremos con aquellos datos que sean menores que 3 en base a las columnas (axis = 1).

    df= df[(z < 3).all(axis=1)]
    
Por último, mostramos el estado del data set con *shape*.

9) Vamos a emplear labels (etiquetas) en lugar de 0 y 1, en los atributos RainToday y RainTomorrow. Utiliza el método *replace* de pandas.

10) Normalizaremos los datos para que no haya distorsiones entre las diferencias del rango de los valores. Esto es necesario cuando las variables tienen diferentes rangos. ¿Por qué? Veamos un ejemplo: 

Tenemos los atributos edad (0-100) y salario (0-100.000), al hacer un análisis como una regresión lineal múltiple, como es nuestro caso,  el atributo salario tendrá más influencia debido a su mayor valor.

Para llevar a cabo la normalización vamos a emplear la función *MinMaxScaler* del módulo *preprocessing* de la librería *sklearn*.

    from sklearn import preprocessing
    scaler = preprocessing.MinMaxScaler()
    scaler.fit(df)

Mostraremos algunos datos de nuestro data set.

### IV. Análisis exploratorio de datos (Exploratory Data Analysis - EDA)

Vamos a identificar las variables más significativas para predecir nuestra función. Para ello utilizaremos la función *SelectKBest* [info](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html) de la librería sklearn(scikit-learn). Utilizaremos el método predictivo chi2 para puntuar a cada una de ellas y seleccionaremos por ejemplo 3.

    from sklearn.feature_selection import SelectKBest, chi2
    X = df.loc[:,df.columns!='RainTomorrow']
    y = df[['RainTomorrow']]
    selector = SelectKBest(chi2, k=3)
    selector.fit(X, y)
    
Y seleccionamos las variables con *get_support*.

    print(X.columns[selector.get_support(indices=True)])

Y este es el final de la Práctica 1. En la siguiente práctica construiremos distintos modelos de ML para predecir si llueve o no mañana